<style>
.main-content h1,
.main-content h2 {
    color: #333;
}

.main-content p {
    color: #555;
}

/* Profile picture adjustments */
.profilePic img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .main-content {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .profilePic img {
        max-width: 250px;
    }
}

@media (max-width: 800px) {
    .profilePic img {
        justify-content: center;
    }
}

.card {
    width: 100%;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    background-color: #a1e3a1;

}


.card:hover {
    transform: scale(1.05);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image {
    height: 100%;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: transform 0.3s;
}

.card:hover .content {
    transform: translateY(0);
}

.btn-card {
    background-color: #a1e3a1;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-card:hover {
    background-color: #87c787;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
</style>